.toast-title {
  font-weight: bold;
}

.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.toast-message a,
.toast-message label {
  color: #ffffff;
}

.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-left {
  top: 12px;
  left: 12px;
}

.toast-top-right {
  top: 12px;
  right: 12px;
}

.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}

.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

#toast-container {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  /*overrides*/
}

#toast-container * {
  box-sizing: border-box;
}

#toast-container > div {
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}

#toast-container > :hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer;
}

#toast-container > .toast-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}

#toast-container > .toast-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}

#toast-container > .toast-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}

#toast-container > .toast-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}

#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.toast {
  background-color: #030303;
}

.toast-success {
  background-color: #51a351;
}

.toast-error {
  background-color: #bd362f;
}

.toast-info {
  background-color: #2f96b4;
}

.toast-warning {
  background-color: #f89406;
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}

/*Responsive Design*/
@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}

@charset "UTF-8";
.flatpickr-input {
  cursor: pointer;
  z-index: 1;
}

.flatpickr-mobileInput {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
  box-sizing: border-box;
  padding: 0;
}

.flatpickr-calendar {
  background: #fff;
  display: none;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  padding: 0;
  -webkit-animation: none;
  animation: none;
  direction: ltr;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
  position: absolute;
  width: 242px;
  box-sizing: border-box;
}

.flatpickr-calendar.open {
  display: inline-block;
  opacity: 1;
  visibility: visible;
  max-height: 320px;
  z-index: 99999;
  -webkit-animation: flatpickrFadeInDown 0.5s cubic-bezier(0, 1, 0.5, 1);
  animation: flatpickrFadeInDown 0.5s cubic-bezier(0, 1, 0.5, 1);
}

.flatpickr-calendar.inline {
  opacity: 1;
  visibility: visible;
  max-height: 320px;
  display: block;
  position: relative;
}

.flatpickr-calendar.static {
  display: none;
  position: relative;
}

.flatpickr-calendar.static.open {
  display: block;
}

.flatpickr-calendar.hasWeeks {
  width: auto;
}

.flatpickr-calendar.dateIsPicked.hasTime .flatpickr-time {
  height: 38px;
}

.flatpickr-calendar:before, .flatpickr-calendar:after {
  position: absolute;
  display: block;
  pointer-events: none;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  left: 22px;
}

.flatpickr-calendar:before {
  border-width: 5px;
  margin: 0 -5px;
}

.flatpickr-calendar:after {
  border-width: 4px;
  margin: 0 -4px;
}

.flatpickr-calendar.arrowTop:before, .flatpickr-calendar.arrowTop:after {
  bottom: 100%;
}

.flatpickr-calendar.arrowTop:before {
  border-bottom-color: #e6e6e6;
}

.flatpickr-calendar.arrowTop:after {
  border-bottom-color: #fff;
}

.flatpickr-calendar.arrowBottom:before, .flatpickr-calendar.arrowBottom:after {
  top: 100%;
}

.flatpickr-calendar.arrowBottom:before {
  border-top-color: #e6e6e6;
}

.flatpickr-calendar.arrowBottom:after {
  border-top-color: #fff;
}

.flatpickr-month {
  background: transparent;
  color: rgba(0, 0, 0, 0.8);
  fill: rgba(0, 0, 0, 0.8);
  height: 28px;
  line-height: 24px;
  text-align: center;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flatpickr-prev-month, .flatpickr-next-month {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  height: 16px;
  line-height: 16px;
}

.flatpickr-prev-month i, .flatpickr-next-month i {
  position: relative;
}

.flatpickr-prev-month.flatpickr-prev-month, .flatpickr-next-month.flatpickr-prev-month {
  /*
        /*rtl:begin:ignore*/
  left: 5px;
  /*
        /*rtl:end:ignore*/
}

/*
        /*rtl:begin:ignore*/
/*
        /*rtl:end:ignore*/
.flatpickr-prev-month.flatpickr-next-month, .flatpickr-next-month.flatpickr-next-month {
  /*
        /*rtl:begin:ignore*/
  right: 5px;
  /*
        /*rtl:end:ignore*/
}

/*
        /*rtl:begin:ignore*/
/*
        /*rtl:end:ignore*/
.flatpickr-prev-month svg, .flatpickr-next-month svg {
  width: 14px;
}

.flatpickr-prev-month svg path, .flatpickr-next-month svg path {
  -webkit-transition: fill .1s;
  transition: fill .1s;
  fill: inherit;
}

.flatpickr-prev-month svg:hover, .flatpickr-next-month svg:hover {
  fill: #f64747;
}

.flatpickr-prev-month:hover, .flatpickr-next-month:hover {
  color: #959ea9;
}

.numInputWrapper {
  position: relative;
  height: auto;
}

.numInputWrapper input, .numInputWrapper span {
  display: inline-block;
}

.numInputWrapper input {
  width: 100%;
}

.numInputWrapper span {
  position: absolute;
  right: 0;
  width: 14px;
  padding: 0 4px 0 2px;
  height: 50%;
  line-height: 50%;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  border: 1px solid rgba(57, 57, 57, 0.05);
  box-sizing: border-box;
}

.numInputWrapper span:hover {
  background: rgba(0, 0, 0, 0.1);
}

.numInputWrapper span:active {
  background: rgba(0, 0, 0, 0.2);
}

.numInputWrapper span:after {
  display: block;
  content: "";
  position: absolute;
  top: 33%;
}

.numInputWrapper span.arrowUp {
  top: 0;
  border-bottom: 0;
}

.numInputWrapper span.arrowUp:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(57, 57, 57, 0.6);
}

.numInputWrapper span.arrowDown {
  top: 50%;
}

.numInputWrapper span.arrowDown:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(57, 57, 57, 0.6);
}

.numInputWrapper span svg {
  width: inherit;
  height: auto;
}

.numInputWrapper span svg path {
  fill: rgba(0, 0, 0, 0.5);
}

.numInputWrapper:hover {
  background: rgba(0, 0, 0, 0.05);
}

.numInputWrapper:hover span {
  opacity: 1;
}

.flatpickr-current-month {
  font-size: 135%;
  line-height: inherit;
  font-weight: 300;
  color: inherit;
  position: absolute;
  width: 75%;
  left: 12.5%;
  top: 5px;
  display: inline-block;
  text-align: center;
}

.flatpickr-current-month span.cur-month {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  padding-left: 7px;
}

.flatpickr-current-month .numInputWrapper {
  width: 6ch;
  width: 7ch\0;
  display: inline-block;
}

.flatpickr-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: rgba(0, 0, 0, 0.8);
}

.flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: rgba(0, 0, 0, 0.8);
}

.flatpickr-current-month input.cur-year {
  background: transparent;
  box-sizing: border-box;
  color: inherit;
  cursor: default;
  padding: 0 0 0 .5ch;
  margin: 0;
  display: inline;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  line-height: inherit;
  height: initial;
  border: 0;
  border-radius: 0;
  vertical-align: initial;
}

.flatpickr-current-month input.cur-year:focus {
  outline: 0;
}

.flatpickr-current-month input.cur-year[disabled], .flatpickr-current-month input.cur-year[disabled]:hover {
  font-size: 100%;
  color: rgba(0, 0, 0, 0.5);
  background: transparent;
  pointer-events: none;
}

.flatpickr-weekdays {
  background: transparent;
  text-align: center;
  overflow: hidden;
}

.flatpickr-days {
  padding: 1px;
  outline: 0;
  text-align: left;
  width: 240px;
  box-sizing: border-box;
  display: inline-block;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.flatpickr-day {
  background: none;
  border: 1px solid transparent;
  border-radius: 150px;
  box-sizing: border-box;
  color: #393939;
  cursor: pointer;
  display: inline-block;
  display: inline-block\9;
  position: relative;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: 300;
  width: 14.2857143%;
  flex-basis: 14.2857143%;
  max-width: 34px;
  height: 34px;
  line-height: 34px;
  margin: 1px 0 0 0;
  text-align: center;
  -webkit-transition: 50ms all ease-out;
  transition: 50ms all ease-out;
}

.flatpickr-day.inRange, .flatpickr-day.prevMonthDay.inRange, .flatpickr-day.nextMonthDay.inRange, .flatpickr-day.today.inRange, .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.nextMonthDay.today.inRange, .flatpickr-day:hover, .flatpickr-day.prevMonthDay:hover, .flatpickr-day.nextMonthDay:hover, .flatpickr-day:focus, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.nextMonthDay:focus {
  cursor: pointer;
  outline: 0;
  background: #e6e6e6;
  border-color: #e6e6e6;
}

.flatpickr-day.today {
  border-color: #959ea9;
}

.flatpickr-day.today:hover, .flatpickr-day.today:focus {
  border-color: #959ea9;
  background: #959ea9;
  color: #fff;
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
  background: #569ff7;
  color: #fff;
  border-color: #569ff7;
}

.flatpickr-day.selected.startRange, .flatpickr-day.startRange.startRange, .flatpickr-day.endRange.startRange {
  border-radius: 50px 0 0 50px;
}

.flatpickr-day.selected.endRange, .flatpickr-day.startRange.endRange, .flatpickr-day.endRange.endRange {
  border-radius: 0 50px 50px 0;
}

.flatpickr-day.inRange {
  border-radius: 0;
}

.flatpickr-day.disabled, .flatpickr-day.disabled:hover, .flatpickr-day.prevMonthDay, .flatpickr-day.nextMonthDay, .flatpickr-day.notAllowed, .flatpickr-day.notAllowed.prevMonthDay, .flatpickr-day.notAllowed.nextMonthDay {
  color: rgba(57, 57, 57, 0.3);
  background: transparent;
  border-color: transparent;
  cursor: default;
}

span.flatpickr-weekday {
  cursor: default;
  font-size: 90%;
  color: rgba(0, 0, 0, 0.54);
  height: 24px;
  line-height: 24px;
  margin: 0;
  background: transparent;
  text-align: center;
  display: block;
  float: left;
  width: 14.28%;
  font-weight: bold;
}

.flatpickr-weekwrapper {
  display: inline-block;
  float: left;
}

.flatpickr-weekwrapper .flatpickr-weeks {
  padding: 0 12px;
  border-right: 1px solid #e6e6e6;
}

.flatpickr-weekwrapper .flatpickr-weekday {
  float: none;
  width: 100%;
}

.flatpickr-weekwrapper span.flatpickr-day {
  display: block;
  width: 100%;
  max-width: none;
}

.flatpickr-innerContainer {
  display: block;
  display: -webkit-box;
  display: flex;
}

.flatpickr-innerContainer:after {
  display: inline-block;
  content: "";
  clear: both;
}

.flatpickr-rContainer {
  display: inline-block;
}

.flatpickr-time {
  text-align: center;
  border-top: 0;
  outline: 0;
  display: block;
  height: 0;
  line-height: 36px;
  max-height: 36px;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: height 0.33s cubic-bezier(0, 1, 0.5, 1);
  transition: height 0.33s cubic-bezier(0, 1, 0.5, 1);
  display: -webkit-box;
  display: flex;
}

.flatpickr-time:after {
  content: "";
  display: table;
  clear: both;
}

.flatpickr-time .numInputWrapper {
  -webkit-box-flex: 1;
  flex: 1;
  width: 40%;
  height: 36px;
  float: left;
}

.flatpickr-time .numInputWrapper span.arrowUp:after {
  border-bottom-color: #393939;
}

.flatpickr-time .numInputWrapper span.arrowDown:after {
  border-top-color: #393939;
}

.flatpickr-time.hasSeconds .numInputWrapper {
  width: 26%;
}

.flatpickr-time.time24hr .numInputWrapper {
  width: 49%;
}

.flatpickr-time input {
  background: transparent;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  height: inherit;
  line-height: inherit;
  cursor: pointer;
  color: #393939;
  font-size: 14px;
  position: relative;
  box-sizing: border-box;
}

.flatpickr-time input.flatpickr-hour {
  font-weight: bold;
}

.flatpickr-time input.flatpickr-minute, .flatpickr-time input.flatpickr-second {
  font-weight: 400;
}

.flatpickr-time input:focus {
  outline: 0;
  border: 0;
}

.flatpickr-time .flatpickr-time-separator, .flatpickr-time .flatpickr-am-pm {
  height: inherit;
  display: inline-block;
  float: left;
  line-height: inherit;
  color: #393939;
  font-weight: bold;
  width: 2%;
}

.flatpickr-time .flatpickr-am-pm {
  outline: 0;
  width: 18%;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
}

.flatpickr-time .flatpickr-am-pm:hover, .flatpickr-time .flatpickr-am-pm:focus {
  background: #f0f0f0;
}

.hasWeeks .flatpickr-days, .hasTime .flatpickr-days {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.hasWeeks .flatpickr-days {
  border-left: 0;
}

.dateIsPicked .flatpickr-innerContainer + .flatpickr-time {
  border-top: 1px solid #e6e6e6;
}

@media all and (-ms-high-contrast: none) {
  .flatpickr-days {
    width: 256px;
  }
  .flatpickr-month {
    padding: 0;
  }
  .flatpickr-month svg {
    top: 0 !important;
  }
}

@-webkit-keyframes flatpickrFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes flatpickrFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.croppie-container {
  width: 100%;
  height: 100%;
}

.croppie-container .cr-image {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  max-width: none;
}

.croppie-container .cr-boundary {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.croppie-container .cr-viewport {
  position: absolute;
  border: 2px solid #fff;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.croppie-container .cr-original-image {
  display: none;
}

.croppie-container .cr-vp-circle {
  border-radius: 50%;
}

.croppie-container .cr-overlay {
  z-index: 1;
  position: absolute;
  cursor: move;
}

.croppie-container .cr-slider-wrap {
  width: 75%;
  margin: 15px auto;
  text-align: center;
}

.croppie-result {
  position: relative;
  overflow: hidden;
}

.croppie-result img {
  position: absolute;
}

.croppie-container .cr-image,
.croppie-container .cr-overlay,
.croppie-container .cr-viewport {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/*************************************/
/***** STYLING RANGE INPUT ***********/
/*************************************/
/*http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html */
/*************************************/
.cr-slider {
  -webkit-appearance: none;
  /*removes default webkit styles*/
  /*border: 1px solid white; */
  /*fix for FF unable to apply focus style bug */
  width: 300px;
  /*required for proper track sizing in FF*/
  max-width: 100%;
}

.cr-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 3px;
}

.cr-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ddd;
  margin-top: -6px;
}

.cr-slider:focus {
  outline: none;
}

/*
.cr-slider:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
*/
.cr-slider::-moz-range-track {
  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 3px;
}

.cr-slider::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ddd;
  margin-top: -6px;
}

/*hide the outline behind the border*/
.cr-slider:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

.cr-slider::-ms-track {
  width: 300px;
  height: 5px;
  background: transparent;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  border-color: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-width: 6px 0;
  color: transparent;
  /*remove default tick marks*/
}

.cr-slider::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.cr-slider::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.cr-slider::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ddd;
  margin-top: 1px;
}

.cr-slider:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.5);
}

.cr-slider:focus::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.5);
}

/*******************************************/
/***********************************/
/* Rotation Tools */
/***********************************/
.cr-rotate-controls {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 1;
}

.cr-rotate-controls button {
  border: 0;
  background: none;
}

.cr-rotate-controls i:before {
  display: inline-block;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
}

.cr-rotate-l i:before {
  content: '↺';
}

.cr-rotate-r i:before {
  content: '↻';
}

.short-segment {
  height: 350px;
}

.white {
  color: #FFFFFF;
}

.upload-input {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.italic-description {
  font-style: italic;
  font-size: 0.9em;
  color: #838587;
  padding-bottom: 0.5em;
}

.media-manager-frame {
  width: 100%;
  min-height: 500px;
  border: none;
}

.ui.segment.segment-margin {
  margin: 1em 0 1em 0;
}

form.form-inline {
  display: inline-block;
  margin: 0;
}

.pushable > .pusher {
  width: 100%;
  position: absolute;
}

div.ui.input.table-list-search-input {
  margin-bottom: 10px;
}

.menu-sidebar > .item {
  width: 200px;
}

.list-pagination {
  font-size: 0.85rem;
  list-style: none;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.26666667rem;
  vertical-align: middle;
  margin: 10px 0px;
  display: -webkit-inline-box;
  display: inline-flex;
}

.list-pagination > li {
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  cursor: pointer;
  border-right: 1px solid rgba(34, 36, 38, 0.15);
  line-height: 1;
  padding: 0.93333333em 1.13333333em;
  background-color: #FFFFFF;
  display: inline;
}

.list-pagination > li.active {
  background-color: #F3F3F3;
}

.list-pagination > li:last-child {
  border-radius: 0em 0.26666667rem 0.26666667rem 0em;
}

.list-pagination > li:first-child {
  border-radius: 0.26666667rem 0em   0em 0.26666667rem;
}

.ui.segment.segment-padding {
  padding-left: 30px;
  padding-right: 30px;
}

.avatar-sm {
  max-width: 60px;
  width: 100%;
  height: auto;
}

.backend-dashboard {
  width: 100%;
  height: 100%;
}

.backend-dashboard > .sidebar {
  overflow: scroll;
  width: 20%;
  float: left;
  height: 100%;
  padding: 90px 10px 20px 20px;
}

.backend-dashboard > .sidebar > .ui.menu.vertical {
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
}

.backend-dashboard > .view {
  width: 80%;
  float: left;
  padding: 90px 20px 20px 20px;
}

.backend-dashboard > .view > .segments {
  background-color: #fff;
}

ul.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.text-center {
  text-align: center;
}

img.lazy.ui.fluid {
  display: none;
}

.search-form-sm {
  margin-bottom: 0;
}

.ui.search .prompt {
  border-radius: 4px;
  width: 300px;
}

.content-wrapper {
  padding-top: 73px;
  padding-bottom: 20px;
}

div.ui.card.blogger-card {
  max-width: 500px;
  margin: 0 auto 25px;
}

div.no-box-shadow {
  box-shadow: none !important;
}

.hoverable:hover {
  opacity: 0.8;
  background-color: #434343;
}

/* overriding css */
.toast {
  border: 1px solid #fff;
  opacity: 1 !important;
}

a.scroller {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  background-color: #595454;
  color: #ffffff;
  padding: 20px;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  box-shadow: 0px 4px 3px 0 #000000;
}

a.scroller i {
  margin: 0em;
}

a.scroller:hover {
  background-color: #434343;
}

.ui.menu.fixed {
  box-shadow: 0px 2px 3px 0 #434343;
}

a#contact-form-trigger {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 9999;
  background-color: #F27F13;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  box-shadow: 0px 4px 3px 0 #434343;
}

a#contact-form-trigger i {
  margin: 0em;
}

.brand-teal {
  color: #FFFFFF;
  background-color: #00A8AA !important;
}

a#contact-form-trigger:hover {
  box-shadow: 0px 6px 5px 0px #434343;
}

div#contact-form-modal {
  display: none;
  position: fixed;
  z-index: 999;
  bottom: 70px;
  height: 320px;
  left: 10px;
  width: 100%;
  max-width: 300px;
  padding: 12px;
  box-shadow: 0px 6px 5px 0px #434343;
}

.grid-with-margin {
  min-height: 100%;
  height: auto !important;
  /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin-bottom: 50px !important;
}

.footer-container {
  margin-top: 40px !important;
  margin-bottom: 20px;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .ui.segment.segment-padding {
    padding-left: 10px;
    padding-right: 10px;
  }
  .hidden-mobile {
    display: none !important;
  }
  .content-wrapper {
    padding-top: 60px;
  }
  .backend-dashboard > .view {
    width: 100%;
    padding: 90px 20px 20px 20px;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hidden-tablet {
    display: none !important;
  }
  .backend-dashboard > .view {
    width: 100%;
    padding: 90px 20px 20px 20px;
  }
  .content-wrapper {
    padding-top: 60px;
  }
}

/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hidden-small-desktop {
    display: none !important;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) {
  .hidden-large-desktop {
    display: none !important;
  }
}

.rrssb-buttons {
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  height: 36px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.rrssb-buttons:after {
  clear: both;
}

.rrssb-buttons:after, .rrssb-buttons:before {
  content: ' ';
  display: table;
}

.rrssb-buttons li {
  box-sizing: border-box;
  float: left;
  height: 100%;
  line-height: 13px;
  list-style: none;
  margin: 0;
  padding: 0 2px;
}

.rrssb-buttons li.rrssb-email a {
  background-color: #0a88ff;
}

.rrssb-buttons li.rrssb-email a:hover {
  background-color: #006ed6;
}

.rrssb-buttons li.rrssb-facebook a {
  background-color: #306199;
}

.rrssb-buttons li.rrssb-facebook a:hover {
  background-color: #244872;
}

.rrssb-buttons li.rrssb-tumblr a {
  background-color: #32506d;
}

.rrssb-buttons li.rrssb-tumblr a:hover {
  background-color: #22364a;
}

.rrssb-buttons li.rrssb-linkedin a {
  background-color: #007bb6;
}

.rrssb-buttons li.rrssb-linkedin a:hover {
  background-color: #005983;
}

.rrssb-buttons li.rrssb-twitter a {
  background-color: #26c4f1;
}

.rrssb-buttons li.rrssb-twitter a:hover {
  background-color: #0eaad6;
}

.rrssb-buttons li.rrssb-googleplus a {
  background-color: #e93f2e;
}

.rrssb-buttons li.rrssb-googleplus a:hover {
  background-color: #ce2616;
}

.rrssb-buttons li.rrssb-youtube a {
  background-color: #df1c31;
}

.rrssb-buttons li.rrssb-youtube a:hover {
  background-color: #b21627;
}

.rrssb-buttons li.rrssb-reddit a {
  background-color: #8bbbe3;
}

.rrssb-buttons li.rrssb-reddit a:hover {
  background-color: #62a3d9;
}

.rrssb-buttons li.rrssb-pinterest a {
  background-color: #b81621;
}

.rrssb-buttons li.rrssb-pinterest a:hover {
  background-color: #8a1119;
}

.rrssb-buttons li.rrssb-pocket a {
  background-color: #ed4054;
}

.rrssb-buttons li.rrssb-pocket a:hover {
  background-color: #e4162d;
}

.rrssb-buttons li.rrssb-github a {
  background-color: #444;
}

.rrssb-buttons li.rrssb-github a:hover {
  background-color: #2b2b2b;
}

.rrssb-buttons li.rrssb-instagram a {
  background-color: #125688;
}

.rrssb-buttons li.rrssb-instagram a:hover {
  background-color: #0c3a5b;
}

.rrssb-buttons li.rrssb-delicious a {
  background-color: #0b79e5;
}

.rrssb-buttons li.rrssb-delicious a:hover {
  background-color: #095fb4;
}

.rrssb-buttons li.rrssb-vk a {
  background-color: #4d71a9;
}

.rrssb-buttons li.rrssb-vk a:hover {
  background-color: #3d5a86;
}

.rrssb-buttons li.rrssb-hackernews a {
  background-color: #f60;
}

.rrssb-buttons li.rrssb-hackernews a:hover {
  background-color: #cc5200;
}

.rrssb-buttons li.rrssb-whatsapp a {
  background-color: #43d854;
}

.rrssb-buttons li.rrssb-whatsapp a:hover {
  background-color: #28c039;
}

.rrssb-buttons li.rrssb-print a {
  background-color: #8d98a2;
}

.rrssb-buttons li.rrssb-print a:hover {
  background-color: #717f8b;
}

.rrssb-buttons li a {
  background-color: #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  height: 100%;
  padding: 11px 7px 12px 27px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
  width: 100%;
}

.rrssb-buttons li a .rrssb-icon {
  display: block;
  left: 10px;
  padding-top: 9px;
  position: absolute;
  top: 0;
  width: 10%;
}

.rrssb-buttons li a .rrssb-icon svg {
  height: 17px;
  width: 17px;
}

.rrssb-buttons li a .rrssb-icon svg circle, .rrssb-buttons li a .rrssb-icon svg path {
  fill: #fff;
}

.rrssb-buttons li a .rrssb-text {
  color: #fff;
}

.rrssb-buttons li a:active {
  box-shadow: inset 1px 3px 15px 0 rgba(22, 0, 0, 0.25);
}

.rrssb-buttons li.small a {
  padding: 0;
}

.rrssb-buttons li.small a .rrssb-icon {
  left: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: auto;
  width: 100%;
}

.rrssb-buttons li.small a .rrssb-text {
  visibility: hidden;
}

.rrssb-buttons.large-format, .rrssb-buttons.large-format li {
  height: auto;
}

.rrssb-buttons.large-format li a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: .2em;
  padding: 8.5% 0 8.5% 12%;
}

.rrssb-buttons.large-format li a .rrssb-icon {
  height: 100%;
  left: 7%;
  padding-top: 0;
  width: 12%;
}

.rrssb-buttons.large-format li a .rrssb-icon svg {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.rrssb-buttons.large-format li a .rrssb-text {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rrssb-buttons.small-format {
  padding-top: 5px;
}

.rrssb-buttons.small-format li {
  height: 80%;
  padding: 0 1px;
}

.rrssb-buttons.small-format li a .rrssb-icon {
  height: 100%;
  padding-top: 0;
}

.rrssb-buttons.small-format li a .rrssb-icon svg {
  height: 48%;
  position: relative;
  top: 6px;
  width: 80%;
}

.rrssb-buttons.tiny-format {
  height: 22px;
  position: relative;
}

.rrssb-buttons.tiny-format li {
  padding-right: 7px;
}

.rrssb-buttons.tiny-format li a {
  background-color: transparent;
  padding: 0;
}

.rrssb-buttons.tiny-format li a .rrssb-icon {
  height: 100%;
}

.rrssb-buttons.tiny-format li a .rrssb-icon svg {
  height: 70%;
  width: 100%;
}

.rrssb-buttons.tiny-format li a:active, .rrssb-buttons.tiny-format li a:hover {
  background-color: transparent;
}

.rrssb-buttons.tiny-format li.rrssb-email a .rrssb-icon svg path {
  fill: #0a88ff;
}

.rrssb-buttons.tiny-format li.rrssb-email a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #0054a3;
}

.rrssb-buttons.tiny-format li.rrssb-facebook a .rrssb-icon svg path {
  fill: #306199;
}

.rrssb-buttons.tiny-format li.rrssb-facebook a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #18304b;
}

.rrssb-buttons.tiny-format li.rrssb-tumblr a .rrssb-icon svg path {
  fill: #32506d;
}

.rrssb-buttons.tiny-format li.rrssb-tumblr a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #121d27;
}

.rrssb-buttons.tiny-format li.rrssb-linkedin a .rrssb-icon svg path {
  fill: #007bb6;
}

.rrssb-buttons.tiny-format li.rrssb-linkedin a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #003650;
}

.rrssb-buttons.tiny-format li.rrssb-twitter a .rrssb-icon svg path {
  fill: #26c4f1;
}

.rrssb-buttons.tiny-format li.rrssb-twitter a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #0b84a6;
}

.rrssb-buttons.tiny-format li.rrssb-googleplus a .rrssb-icon svg path {
  fill: #e93f2e;
}

.rrssb-buttons.tiny-format li.rrssb-googleplus a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #a01e11;
}

.rrssb-buttons.tiny-format li.rrssb-youtube a .rrssb-icon svg path {
  fill: #df1c31;
}

.rrssb-buttons.tiny-format li.rrssb-youtube a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #84111d;
}

.rrssb-buttons.tiny-format li.rrssb-reddit a .rrssb-icon svg path {
  fill: #8bbbe3;
}

.rrssb-buttons.tiny-format li.rrssb-reddit a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #398bcf;
}

.rrssb-buttons.tiny-format li.rrssb-pinterest a .rrssb-icon svg path {
  fill: #b81621;
}

.rrssb-buttons.tiny-format li.rrssb-pinterest a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #5d0b11;
}

.rrssb-buttons.tiny-format li.rrssb-pocket a .rrssb-icon svg path {
  fill: #ed4054;
}

.rrssb-buttons.tiny-format li.rrssb-pocket a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #b61124;
}

.rrssb-buttons.tiny-format li.rrssb-github a .rrssb-icon svg path {
  fill: #444;
}

.rrssb-buttons.tiny-format li.rrssb-github a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #111;
}

.rrssb-buttons.tiny-format li.rrssb-instagram a .rrssb-icon svg path {
  fill: #125688;
}

.rrssb-buttons.tiny-format li.rrssb-instagram a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #061d2e;
}

.rrssb-buttons.tiny-format li.rrssb-delicious a .rrssb-icon svg path {
  fill: #0b79e5;
}

.rrssb-buttons.tiny-format li.rrssb-delicious a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #064684;
}

.rrssb-buttons.tiny-format li.rrssb-vk a .rrssb-icon svg path {
  fill: #4d71a9;
}

.rrssb-buttons.tiny-format li.rrssb-vk a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #2d4263;
}

.rrssb-buttons.tiny-format li.rrssb-hackernews a .rrssb-icon svg path {
  fill: #f60;
}

.rrssb-buttons.tiny-format li.rrssb-hackernews a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #993d00;
}

.rrssb-buttons.tiny-format li.rrssb-whatsapp a .rrssb-icon svg path {
  fill: #43d854;
}

.rrssb-buttons.tiny-format li.rrssb-whatsapp a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #1f962d;
}

.rrssb-buttons.tiny-format li.rrssb-print a .rrssb-icon svg path {
  fill: #8d98a2;
}

.rrssb-buttons.tiny-format li.rrssb-print a .rrssb-icon:hover .rrssb-icon svg path {
  fill: #5a656f;
}

/*# sourceMappingURL=app.css.map */
