@import "node_modules/flatpickr/dist/flatpickr.min";
@import "node_modules/croppie/croppie";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
// Font Variables
$open-sans: 'Open Sans', serif; 
$roboto-slab: 'Roboto Slab', serif; 

.ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless) > .container > .item:not(.right):not(.borderless):first-child{
  border: none;
}

.ui.menu .item:before{
  width: 0;
}

.img-responsive {
  max-width: 100%; 
   height: auto;
}

.main-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.ui.segment.footer {
  flex: 1;
}

.sortable {
  cursor: pointer !important;
}

.sortable:hover {
  background-color: #e2e2e2 !important;
}

.table-list-search-input {
  display: block !important;
}


.short-segment{
  height: 350px;
}

.hidden {
  display: none;
}

.no-wrap {
  white-space: nowrap;
}

.ui.modal .actions > .button{
  margin-left: 0;
}

.white {
  color: #FFFFFF;
}

.upload-input{
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.italic-description{
  font-style: italic;
  font-size: 0.9em;
  color: #838587;
  padding-bottom: 0.5em;
  
}

.media-manager-frame{
  width: 100%;
  min-height: 500px;
  border: none;
}

.ui.segment.segment-margin{
   margin: 1em 0 1em 0;
}

form.form-inline{
  display:inline-block;
  margin: 0;
}

.pushable > .pusher{
  width: 100%;
  position: absolute;
}

div.ui.input.table-list-search-input{
  margin-bottom: 10px;
}

.menu-sidebar{
    > .item {
      width: 200px;
    }
}

.list-pagination {
   font-size: 0.85rem;
   list-style: none;
   border: 1px solid rgba(34, 36, 38, 0.15);
   border-radius: 0.26666667rem;
   vertical-align: middle;
   margin: 10px 0px;
   display: inline-flex;
   > li {
      &.active{
        background-color: #F3F3F3;
      }
      &:last-child{
        border-radius: 0em 0.26666667rem 0.26666667rem 0em;
      }
      &:first-child{
        border-radius:0.26666667rem 0em   0em 0.26666667rem;
      }
      box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
      cursor: pointer;
      border-right: 1px solid rgba(34, 36, 38, 0.15);
      line-height: 1;
      padding: 0.93333333em 1.13333333em;
      background-color: #FFFFFF;
      display: inline;
   }  
}

.ui.left.sidebar{
  z-index: 1000;
}

.ui.segment.segment-padding{
  padding-left: 20px;
  padding-right: 20px;
}

.avatar-sm{
  width: 50px;
  height: 50px; 
  height: auto;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.item-image{
  margin: 0 15px;
}

.item-mute{
  color: #8c8a8a;
}

.z-index-top{
  z-index: 10;
}

.ui.label >a.white-font{
  color: #FFFFFF;
  opacity: 0.9;
}

.ui.container.narrowed {
  max-width: 750px !important;
  width: 100% !important;
  margin: 0 auto;
}

.ui.segment.segment-padding{
  padding: 50px;
}


article {
  color: #333333;
  header{
     margin: 20px 15px !important;
  }

  .article-content{
    h2, h3 {
      color: #ce642b;
      margin-right: 15px !important;
      margin-left: 15px !important;
      font-weight: 900;
         font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
     
    ul > li, ol > li, p{ 
     font-family: Georgia,Cambria,"Times New Roman",Times,serif;
     text-align: justify;
     font-size: 17px !important;
     letter-spacing: +0.2;
     line-height: 1.6;
     margin: 20px 15px !important;
     
     word-break: break-word;
     word-wrap: break-word;
    }

    p {
      text-indent: 50px;
    }
  }


  h3, {
    font-family: $roboto-slab,"Droid Serif","AvenirNext-Bold","Avenir Bold","Georgia","Times New Roman","Times",serif;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 20px !important;
    font-weight: 800;
  }

}


.backend-dashboard{
  width: 100%; 
  height: 100%;
  > .sidebar {
    > .ui.menu.vertical{
      width: 100%;
      box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
    }
    width: 20%;
    float:left;
    height: 100%;
    padding: 90px 10px 20px 20px;
  }
  > .view {
    width: 80%;
    float:left;
    padding: 90px 20px 20px 20px;
    > .segments {
      background-color: #fff;
    }
  }

}

ul.list-unstyled {
   list-style: none;
   padding-left: 0;
}

.text-center{
  text-align: center;
}

/*img.lazy.ui.fluid {
  display: none;
}*/

.search-form-sm{
  margin-bottom: 0;
}
.ui.message ul.list:not(.ui){
    list-style: none;
}
.ui.search .prompt{
  border-radius: 4px;
}

.ui.search .prompt.top {
  width: 300px;
}

.content-wrapper{
  padding-top: 73px;
  padding-bottom: 20px;

}

div.ui.card.blogger-card{
  max-width: 500px;
  margin: 0 auto 25px;
}

div.no-box-shadow{
  box-shadow: none !important;
}

.hoverable:hover{
  opacity: 0.8;
  background-color: #434343;
}


/* overriding css */
.toast {
    border: 1px solid #fff;
    opacity: 1 !important;
}

a.scroller{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  background-color: #595454;
  color: #ffffff;
  padding: 20px;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  box-shadow: 0px 4px 3px 0 #000000;
  i {
    margin: 0em;
  }
}

a.scroller:hover{
  background-color: #434343;
}


.ui.menu.fixed{
    box-shadow: 0px 2px 3px 0 #434343;
}

a#contact-form-trigger{
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  background-color: #F27F13;//#F17A1F
  color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  box-shadow: 0px 4px 3px 0 #434343;
  i {
    margin: 0em;
  }
}

.brand-teal {
  color: #FFFFFF;
  background-color: #00A8AA !important;
}

a#contact-form-trigger:hover{
  box-shadow: 0px 6px 5px 0px #434343;
}

div#contact-form-modal{
  display:none;
  position:fixed;
  z-index: 999;
  bottom: 70px;
  height: 320px;
  left: 10px;
  width: 100%;
  max-width:300px;
  padding: 12px;
  box-shadow: 0px 6px 5px 0px #434343;
}

.grid-with-margin{
  min-height: 100%;
  padding-top: 80px !important;
  padding-bottom: 50px !important;
}


.footer{
  /*box-shadow: 0 -3px 10px 0 rgba(0,0,0,.0785) !important;*/
  box-shadow: 0px -3px 5px 0 rgba(34, 36, 38, 0.15) !important;
}

.footer-container{
  margin-top: 40px !important;
  margin-bottom: 20px;
}
  /* Mobile */

  @media only screen and (max-width: 767px) {
        
      .ui.container.narrowed{
        width: 95% !important;
      }

      .ui.segment.segment-padding{
        padding-left: 10px;
        padding-right: 10px;
      }


      .hidden-mobile{
          display: none !important;
      }

      .content-wrapper{
        padding-top: 60px;

      }

      .backend-dashboard{
        > .view {
          width: 100%;
          
          padding: 90px 20px 20px 20px;
        }
      }
  }

  /* Tablet */

  @media only screen and (min-width: 768px) and (max-width: 991px) {
      .hidden-tablet{
          display: none !important;
      }

      .backend-dashboard{
        > .view {
          width: 100%;
          
          padding: 90px 20px 20px 20px;
        }
      }

      .content-wrapper{
        padding-top: 60px;
      }
  }

  /* Small Monitor */

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .hidden-small-desktop{
          display: none !important;
      }
  }


  /* Large Monitor */

  @media only screen and (min-width: 1200px) {
      .hidden-large-desktop{
          display: none !important;
      }

  }
