/*
* layout
*/
body {
  //background-color: #029fd8;
  background-color: #00A1FF; ///#00B5FF;
  //background-color: #dadada;
}
.grid-auth {

  height: 100%;
}
.column-auth {
  // margin-top: 20px;
  max-width: 450px;
}

.credits-info {
  margin-top: 15px;
  color: #252525;
  padding: 20px;
}
